.user_list {
    background-color: grey;
    border-color: black;
    border-width: 2px;
    border-style: solid;

    width: 95%;
    height: 90%;

    overflow-y: auto;
}

.user_lable {
    display: flex;
    justify-content: center;
}

.lists_container {
    display: flex;
    flex-wrap: wrap;
}

.users_row{
    padding-top: 5px;
}