.send_message{
    background-color: grey;
    border-color: black;
    border-width: 2px;
    border-style: solid;

    max-width: 280px;
    width: 100%;
    height: 70%;
}

.send_message_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.message_text_space{
    height: 80%;
    resize: none;
}

.message_send_button{
    width: 100%;
    border: none;
}